aioquic==1.2.0
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
attrs
blinker
Brotli
certifi
cffi
charset-normalizer
click
cryptography
filelock
Flask
fsspec
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe==6.0.1
idna
itsdangerous
Jinja2
jiter
kaitaistruct
ldap3
MarkupSafe
mitmproxy==11.0.2
msgpack
networkx
numpy
openai
packaging
passlib
publicsuffix2
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pylsqpack
pyOpenSSL==24.3.0
pyparsing
pyperclip
PyYAML
regex
requests
ruamel.yaml==0.18.6
safetensors
service-identity
setuptools
sniffio
sortedcontainers
tokenizers
torch
tornado
tqdm
transformers
triton
typing_extensions==4.11.0
urllib3
urwid
wcwidth
Werkzeug
wsproto
zstandard
